<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <style>
        .post {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        .thumbnail {
            width: 150px;
            height: auto;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
        }

        .meta {
            color: gray;
            font-size: 12px;
        }
    </style>
</head>
<body>
<h2>게시글 목록</h2>

<button th:onclick="|location.href='@{/blog/post/write}'|" type="button">글 작성</button>

<div>
    <div th:each="post : ${postList}" class="post">
        <div>
            <!-- 썸네일이 있으면 보여주고, 없으면 기본 이미지를 출력 -->
            <img th:if="${post.thumbnail != null}" th:src="@{${post.thumbnail}}" alt="썸네일" class="thumbnail"/>
        </div>
        <div class="title">
            <!-- 게시글 제목 -->
            <a th:href="@{'/blog/post/' + ${post.post.postId}}" th:text="${post.post.title}">게시글 제목</a>
        </div>
        <div th:text="'조회수 | ' + ${post.post.viewCount}"></div>
        <div class="meta" th:text="${#temporals.format(post.post.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</div>
        <div th:text="${#temporals.format(post.post.updatedAt, 'yyyy-MM-dd HH:mm')}">수정일</div>
        
        <span th:each="hashtag : ${post.hashtags}">
            <span th:text="'#' + ${hashtag.hashtagPeople.tagName}">#해시태그</span>
        </span>
        <div th:text="${post.post.postLike.size() != null ? post.post.postLike.size() : 0}">좋아요</div>
        <div>
            
        </div>
    </div>
</div>
</body>
</html>
