<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Triplog 메인 페이지</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<header>
    <h1><a th:href="@{/}">Triplog</a></h1>
    <a th:href="@{/}" class="logo-link">
        <img src="../../static/images/logo.png" alt="Triploglogo" />
    </a>

    <nav>
        <a th:href="@{/my-blog}">내 블로그</a>
        <a th:href="@{/search}">글 검색</a>
        <a th:href="@{/category?type=EVENT}">행사</a>
        <a th:href="@{/category?type=TOURISM}">관광</a>
        <a th:href="@{/category?type=FOOD}">맛집</a>
        <a th:if="${session.user == null}" th:href="@{/login}">로그인</a>
        <a th:if="${session.user != null}" href="#" onclick="logout()">로그아웃</a>
        <a th:href="@{/signup}">회원가입</a>
    </nav>
</header>

<section>
    <h2>주간 베스트</h2>
    <div>
        <div th:each="post : ${weeklyBest}">
            <a th:href="${post.url}">
                <img th:src="${post.imageUrl}" alt="image"/>
                <p th:text="${post.title}"></p>
            </a>
        </div>
    </div>
</section>

<section>
    <label>지역 선택:
        <select onchange="location.href='/?region=' + this.value">
            <option>서울</option>
            <option>부산</option>
            <option>대구</option>
        </select>
    </label>

    <h3>행사</h3>
    <div th:each="e : ${events}">
        <a th:href="${e.url}">
            <img th:src="${e.imageUrl}"/>
            <p th:text="${e.title}"></p>
        </a>
    </div>
    <a th:href="@{/category(type='EVENT', region=${selectedRegion})}">더보기</a>

    <h3>관광지</h3>
    <div th:each="t : ${tourism}">
        <a th:href="${t.url}">
            <img th:src="${t.imageUrl}"/>
            <p th:text="${t.title}"></p>
        </a>
    </div>
    <a th:href="@{/category(type='TOURISM', region=${selectedRegion})}">더보기</a>

    <h3>맛집</h3>
    <div th:each="f : ${food}">
        <a th:href="${f.url}">
            <img th:src="${f.imageUrl}"/>
            <p th:text="${f.title}"></p>
        </a>
    </div>
    <a th:href="@{/category(type='FOOD', region=${selectedRegion})}">더보기</a>
</section>

<script>
    function logout() {
        if (confirm("로그아웃 하시겠습니까?")) {
            location.href = '/logout';
        }
    }
</script>
</body>
</html>